In [14]:
# Python version 3.8.8

from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

import numpy as np
np.random.seed(4)

train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

print(train_df.info())
print(train_df.shape)
print(train_df.head(6))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      10000 non-null  int64
 1   y       10000 non-null  float64
 2   x1      10000 non-null  float64
 3   x2      10000 non-null  float64
 4   x3      10000 non-null  float64
 5   x4      10000 non-null  float64
 6   x5      10000 non-null  float64
 7   x6      10000 non-null  float64
 8   x7      10000 non-null  float64
 9   x8      10000 non-null  float64
 10  x9      10000 non-null  float64
 11  x10     10000 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 937.6 KB
None
(10000, 12)
   Id           y           x1           x2           x3           x4  \
0   0  738.023171  1764.052346   400.157208   978.737984  2240.893199
1   1  400.646015   144.043571  1454.273507   761.037725   121.675016
2   2  189.900156 -2552.989816   653.618595   864.436199  -742.165020
3   3  -78.399449   154.947426   378.162520  -887.785748 -1980.796468
4   4 -547.373531 -1048.552965 -1420.017937 -1706.270191  1950.775395
5   5 -242.792588  -895.466561   386.902498  -510.805138 -1180.632184

            x5           x6           x7           x8           x9  \
0  1867.557990  -977.277880   950.088418  -151.357208  -103.218852
1   443.863233   333.674327  1494.079073  -205.158264   313.067702
2  2269.754624 -1454.365675    45.758517  -187.183850  1532.779214
3  -347.912149   156.348969  1230.290681  1202.379849  -387.326817
4  -509.652182  -438.074302 -1252.795360   777.490356 -1613.897848
5   -28.182228   428.331871    66.517222   302.471898  -634.322094

           x10
0   410.598502
1  -854.095739
2  1469.358770
3  -302.302751
4  -212.740280
5  -362.741166

In [16]:
train = train_df.drop(["Id", "y"], axis=1)
test = test_df.drop("Id", axis=1)
y = train_df["y"]
train.head(5)

,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [26]:
reg = LinearRegression().fit(train, y)
print(f"score: {reg.score(train, y)}")

pred = pd.DataFrame({"pred": reg.predict(test)})

res = pd.concat([test_df["Id"], pred], axis=1)
res
res.to_csv("pred.csv")

score: 1.0

In [33]:

# check correctness
np.array(test.iloc()[0]).mean()

#TODO use other loss function

-66.00242349023135